In [1]:
import os
import numpy as np
import pandas as pd

from random import randint

import matplotlib.pyplot as plt
plt.style.use('seaborn-white')
import seaborn as sns
sns.set_style("white")

import settings

In [2]:
TUNING_LABLES_FILE = os.path.join(settings.DATA_DIR, 'tuning_labels.csv')
df_tuning = pd.read_csv(TUNING_LABLES_FILE, names=['id', 'labels'])
df_tuning.head()

                         id                                  labels
0  2b2f44594449326f4e52553d                     /m/06ts_6 /m/01g317
1  2b333057383432514454593d  /m/01g317 /m/06ts_6 /m/01jpn4 /m/0dnkv
2  2b38364476612f6c4558383d                      /m/01g317 /m/05zp8
3  2b4270756237642b7456453d     /m/0jjw /m/015r61 /m/02csf /m/05qdh
4  2b4534307571444f412b4d3d                                /m/099fz

In [3]:
x = df_tuning['labels'].str.split().apply(pd.Series).stack().value_counts()
df_x = pd.DataFrame(x, columns=['count'])
df_x.head()

           count
/m/01g317    325
/m/05s2s     122
/m/07j7r     109
/m/01c8br     63
/m/083vt      57

In [4]:
df_desc = pd.read_csv(os.path.join(settings.DATA_DIR, 'class-descriptions.csv'), index_col='label_code')
df_desc.head()

df_x = df_x.join(df_desc)

In [5]:
df_x[:20]

           count         description
/m/01g317    325              Person
/m/05s2s     122               Plant
/m/07j7r     109                Tree
/m/01c8br     63              Street
/m/083vt      57                Wood
/m/0199g      52             Bicycle
/m/02csf      48             Drawing
/m/05wrt      47            Property
/m/0jjw       45                 Art
/m/0jyfg      42             Glasses
/m/07bsy      41           Transport
/m/0180xr     38       Neighbourhood
/m/07yv9      33             Vehicle
/m/06ts_6     33          Shopkeeper
/m/04szw      32  Musical instrument
/m/09rgp      30        Road bicycle
/m/05zdp      28    Public transport
/m/07vwy6     27          Street art
/m/04scj      27                Meat
/m/0k5j       25            Aircraft

In [6]:
classes = pd.read_csv(os.path.join(settings.DATA_DIR, 'classes-trainable.csv'))['label_code'].values.tolist()
classes[:10]
len(classes)

7178

In [7]:
df_labels = pd.read_csv(os.path.join(settings.DATA_DIR, 'train_human_labels.csv'), index_col=['LabelName'])
print(df_labels.shape)
df_labels = df_labels[df_labels.index.isin(classes)]
print(df_labels.shape)


#pd_classes = df_labels['LabelName'].str.split().apply(pd.Series).stack().value_counts()

(8036466, 3)
(7117742, 3)

In [8]:
df_labels.head()

                    ImageID                    Source  Confidence
LabelName
/m/01kcnl  000002b66c9c498e  crowdsource-verification           1
/m/012mj   000002b66c9c498e              verification           1
/m/012yh1  000002b66c9c498e              verification           1
/m/014sv8  000002b66c9c498e              verification           1
/m/016c68  000002b66c9c498e              verification           1

In [9]:
df_labels = df_labels.join(df_desc)

In [10]:
df_labels.head()

                      ImageID        Source  Confidence       description
/m/0108_09c  00dfa2c4e2e64998  verification           1  Summer snowflake
/m/0108_09c  01e4845070c326da  verification           1  Summer snowflake
/m/0108_09c  0bca57affd634e58  verification           1  Summer snowflake
/m/0108_09c  0e98ba59e16a735f  verification           1  Summer snowflake
/m/0108_09c  12a321611ca65cb5  verification           1  Summer snowflake

In [11]:
df_desc.head()

                     description
label_code
/m/0100nhbf     Sprenger's tulip
/m/0104x9kv             Vinegret
/m/0105jzwx            Dabu-dabu
/m/0105ld7g  Pistachio ice cream
/m/0105lxy5                 Woku

In [12]:
counts = df_labels.index.value_counts()

In [28]:
type(counts)

pandas.core.series.Series

In [37]:
df_counts = counts.to_frame(name='counts')
df_counts.index.name='label_code'

In [39]:
df_counts.head()

            counts
label_code
/m/01g317   807090
/m/09j2d    610840
/m/0dzct    331942
/m/07j7r    315026
/m/05s2s    266978

In [31]:
counts.head()

/m/01g317    807090
/m/09j2d     610840
/m/0dzct     331942
/m/07j7r     315026
/m/05s2s     266978
dtype: int64

In [14]:
def get_top_labels(n):
    return counts.index.values[:n].tolist()

In [15]:
np_counts = counts.values
np_counts.shape

(7172,)

In [16]:
total = sum(np_counts)
print(total)

7117742

In [17]:
print(sum(np_counts[:2000])/total)

0.9502540271900836

In [18]:
print(sum(np_counts[:1000])/total)

0.9179485572812277

In [19]:
print(sum(np_counts[:500])/total)

0.890001211058226

In [24]:
print(sum(np_counts[:200])/total)

0.8449030605492585

In [25]:
print(sum(np_counts[:100])/total)

0.779682095810722

In [21]:
test_classes = df_x.index.tolist()
print(len(test_classes))

484

In [22]:
top500 = get_top_labels(500)
print(top500[:10])

['/m/01g317', '/m/09j2d', '/m/0dzct', '/m/07j7r', '/m/05s2s', '/m/07yv9', '/m/0cgh4', '/m/01prls', '/m/09j5n', '/m/0jbk']

In [44]:
len(set(get_top_labels(2000)).intersection(set(test_classes)))

293